/* register.css */

.register-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.register-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bg-white {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Optional: add a blur effect for better readability */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(247, 240, 240, 0.2);
}

.text-primary {
    color: #007bff;
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: left;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.w-100 {
    width: 100%;
}

.p-4 {
    padding: 1.5rem;
}

.p-3 {
    padding: 1rem;
}

.rounded {
    border-radius: 0.5rem;
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.green-color{
    background-color: rgb(29, 192, 29);
    color: white;
}